@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --font-lexa:'Lexend Deca', sans-serif;
    --font-big:'Big Shoulders Display', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--Very-light-gray);
}

main{
    width:25rem;
    margin: 2rem 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
}

.container .col{
    padding: 3rem 2rem;
}

.container .col .car-log{
    margin-bottom:1rem;
}

.container .col h2{
    font-family: var(--font-big);
    color:var(--Very-light-gray);
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.container .col p{
    color:var(--Transparent-white);
    font-family: var(--font-lexa);
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.container .col a{
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    background-color: var(--Very-light-gray);
    text-decoration: none;
    border-radius:3rem;
    font-family: var(--font-lexa);
}
.container .col a:hover{
    background: transparent;
    color: var(--Very-light-gray);
    border: 2px solid var(--Very-light-gray);
}

.container .col .btn-1{
    color:var(--Bright-orange);
}

.container .col .btn-2{
    color:var(--Dark-cyan);
}

.container .col .btn-3{
    color:var(--Very-dark-cyan);
}

.col:nth-of-type(1){
    background-color:var(--Bright-orange);
}
.col:nth-of-type(2){
    background-color:var(--Dark-cyan);
}
.col:nth-of-type(3){
    background-color:var(--Very-dark-cyan);
}

@media (min-width: 700px) {
    .container{
        flex-direction: row;
    }
    main{
        width:55rem;
    }
    .container .col p{
        margin-bottom: 5rem;
        font-size: 1rem;
    }
    .container .col h2{
        font-size: 2.8rem;
    }
}